
$blue:    #6A9BF4;
$indigo:  #7985F5;
$purple:  #6f42c1;


//

$primary:       $blue;
$secondary:     $indigo;


// back to white

// $white:    #fff;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black:    #000 ;

// navbar 
$navbar-light-color:                rgba(#5c5d77, .55);
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $secondary;


// Import bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";