@use "../custom" as *;
@use "../components/mixin" as *;

.heroCarousel{
    margin-top: -100px;
    border-radius: 1rem;
    @media (min-width: 770px){
        margin-top: -200px;
    }
    @media (min-width: 992px){
        margin-top: -250px;
    }
    @media (min-width: 1200px){
        margin-top: -300px;
    }
}


.card{
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .085);
    color: #4a4b65;
    img{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    h4{
        line-height: 1.35;
        font-size: calc(1.2625rem + 0.15vw);
        font-weight: 600;
    }
    // .shadow{
    //     box-shadow: 0 0 0.625rem 0.1875rem #00000021;
    // }
}

.shadow{
    box-shadow: 0 0 0.625rem -0.1875rem #00000021 !important;
}